@model CoreLibrary.Entities.Code

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Code</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagerNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
